@font-face {
  font-family: phantombold; /* set name */
  src: url(https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff); /* url of the font */
}
@font-face {
  font-family: wack; /* set name */
  src: url(https://assets.hackclub.com/fonts/Wack_Club_Sans/Regular.woff); /* url of the font */
}


body {
    background-image: url("https://github.com/katetriestocode/buildguildoxford/blob/main/JA%20Jayagiri%20Sans%20(2).png?raw=true");
    background-size: 500px;
    background-repeat: repeat;
    text-align: center;
    font-family: phantombold;
    color: white;
}
h1 {
    font-size: 7vw;
    font-weight: bold;
}
h2 {
    font-size: 7vw;
    font-family: wack;
    color: #ebb12a;
}

h1, h2 {
    margin: 0; /* Removes all space around them */
}

h1 {
    margin-bottom: 0.5vw; /* Adds just a tiny gap under the heading */
}

.corner-left {
    left: 2vw;         /* Distance from the left */
    position: absolute; /* Pins them to the page */
    top: 0;          /* Distance from the top */
    width: 20vw;        
}

.corner-right {
    right: 2vw;        /* Distance from the right */
    position: absolute; /* Pins them to the page */
    top: 2vw;          /* Distance from the top */
    width: 25vw;        
}

body {
    position: relative; 
    min-height: 100vh;
    padding-top: 50px; /* Gives your main content some breathing room from the top */
}